[run]
branch=True
# For some reason coverage recording doesn't work for ipython_custom_exc.py,
# so leave it out of reports
omit=
  setup.py

[report]
precision = 1
exclude_lines =
  pragma: no cover
